applicationhost.config
BuilderDesignPattern/BuilderDesignPattern/.vs/BuilderDesignPattern/v16
packages

# all bin folders
bin

#obj/Debug
BuilderDesignPattern/*/*/obj/Debug
BuilderDesignPattern/*/obj/Debug
