applicationhost.config
BuilderDesignPattern/BuilderDesignPattern/.vs/BuilderDesignPattern/v16
packages

# all bin folders
bin

#obj/Debug
BuilderDesignPattern/*/*/obj/Debug
BuilderDesignPattern/*/obj/Debug
*.vsidx
*.v2
BuilderDesignPattern/BuilderDesignPattern/.vs/DesignPatterns/v17/.suo

BuilderDesignPattern/BuilderDesignPattern/*/obj/*.csproj.nuget.g.targets
BuilderDesignPattern/BuilderDesignPattern/*/obj/*.csproj.nuget.g.props
BuilderDesignPattern/BuilderDesignPattern/*/obj/*.csproj.nuget.dgspec.json
BuilderDesignPattern/BuilderDesignPattern/*/obj/*.nuget.cache
BuilderDesignPattern/BuilderDesignPattern/*/obj/*.assets.json
